* 
{
	box-sizing: border-box;
}

body
{
	font-size: 1.2em;
}

section
{	
	padding-right: 10px;
	padding-left: 10px;
	width:50%; float:left;
}

/*#first 
{
	border: thin solid black;
	background-color: brown;
}

#second
{
	border: thin solid black;
	background-color: aquamarine; 
}*/