<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="ngapp">
    <head>
        <meta charset="utf-8" />        
        <title>Check Off List</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <h1>Check Off Shopping List</h1>
            <h2>Assignment Module 2</h2>
        </header>
        <section id="first" ng-controller="buyController as buyList">
            <h3>To Buy List</h3>
            <div id="buylist">
                <ol>
                    <li ng-repeat="item in buyList.items">
                        Buy {{ item.quantity }} {{ item.name }}
                        <button ng-click="buyList.boughtItem($index);">Bought</button>                        
                    </li>
                </ol>
                <div ng-if="buyList.message" class="error">Error: {{ buyList.message }}</div> 
            </div>
        </section>
        <section id="second" ng-controller="boughtController as boughtList">
            <h3>Already Bought List</h3>
            <div id="boughtList">
                <ol>
                    <li ng-repeat="item in boughtList.items">
                        Bougth {{ item.quantity }} {{ item.name }}
                    </li>
                </ol>
                <div ng-if="boughtList.message" class="error">Error: {{ boughtList.message }}</div> 
            </div>
        </section>
        <script src="scripts/angular.min.js"></script>
        <script src="scripts/application.js"></script>
    </body>
</html>